<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Santhi Bhavan | Business Class Hotel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Mobile Top Chrome Bar Color-->
    <meta name="theme-color" content="#1c1f24" />
    {% load static %}
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
    <!-- Place favicon.ico in the root directory -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://use.fontawesome.com/8fd1dc0516.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Just+Another+Hand|Acme" rel="stylesheet">
      {% load static %}
     <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Add your site or application content here -->
    <!--Navbar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    {% load static %}
                    <img src="{% static 'img/logowhite.svg' %}" alt="Santhi Bhavan">
                    <span id="brandtitle">SANTHI BHAVAN</span>
                    <span id="tagline">BUSINESS CLASS HOTEL</span>
                </a>
                <!--
                <a class="tagline" href="index.html">
                    <img src="img/taglinewhite.svg" alt="Business Class Hotel">
                </a>
                -->
                <!--
                <a class="navbar-brand" href="index.html">
                    <img src="img/logonewwhite.svg" alt="Santhi Bhavan">
                </a>
                -->
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">HOME</a></li>
                    <li><a href="aboutus.html">ABOUT US</a></li>
                    <li><a href="whyus.html">WHY US</a></li>
                    <li><a href="gallery.html">GALLERY</a></li>
                    <li><a href="contactus.html">CONTACT US</a></li>
                    <li><a href="booknow.html" id="booknow">BOOK NOW</a></li>
                </ul>
            </div>
    </nav>

    <div  id="bglogo">
      {% load static %}
    <img src="{% static 'img/logo.svg' %}" width="100" height="100">
   </div>
    <!--Caraousel code starts-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                {% load static %}
                <img src="{% static 'img/slide1.png' %}" alt="Experience Business Class Comfort" width="" height="">
                <div class="carousel-caption">
                    <h3>Experience Business Class Comfort. </h3>
                </div>
            </div>
            <div class="item">
                {% load static %}
                <img src="{% static 'img/slide2.jpg' %}" alt="Right in the Heart of Chennai" width="" height="">
                <div class="carousel-caption">
                    <h3>Right in the Heart of Chennai.</h3>
                </div>
            </div>
            <div class="item">
                {% load static %}
                <img src="{% static 'img/slide3.png' %}" alt="Book Now" width="" height="">
                <div class="carousel-caption">
                    <h3>Book Now.</h3>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--Caraousel Code Ends-->

    <!--HomePage Welcome Message-->
    <div class="container">
        <div class="row">
            <div data-aos="fade-up" class="col-xs-offset-1 col-xs-10" id="hometext">
              <!-- <span class="firstletter"> S</span>anthi  <span class="firstletter">B</span>havan -->
               <span class="bold">Santhi Bhavan</span>
                is a business class hotel, which is located on
                wall tax road, just 200 meters away from Chennai Central
                Railway station. Santhi Bhavan means peaceful home and
                that's exactly what our management is working towards
                providing our customers. Amongst the hustle and bustle of daily
                life, we make sure that our customers are provided with mental
                peace and comfort through our premium facilities and services.
            </div>
        </div>
    </div>
    <!--HomePage Welcome Message Ends-->

    <h3 class="text-center" style="font-variant: small-caps;">Premium Facilities and Services Available</h3>
    <div class="container">
        <div class="row">
         <div class="col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-10 facilities">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-wifi fa-stack-1x"  style="color:#fefefe;"></i>
            </span>
            Wifi
        </div>
        <div class="col-sm-offset-3 col-sm-4 col-xs-offset-1 col-xs-10 facilities " id="inhouse">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-cutlery fa-stack-1x"  style="color:#fefefe;"></i>
            </span>
            In-House Restaurant
        </div>
        <div class="col-sm-offset-1 col-sm-4 col-xs-offset-1 col-xs-10 facilities">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-suitcase fa-stack-1x"  style="color:#fefefe;"></i>
            </span>
            Travel Desk
        </div>
        <div class="col-sm-offset-3 col-sm-4 col-xs-offset-1 col-xs-10 facilities">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-tripadvisor fa-stack-1x"  style="color:#fefefe;"></i>
            </span>
            Trip Advisor
        </div>
        <div class="col-sm-offset-1 col-sm-4  col-xs-offset-1 col-xs-10 facilities">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-usd fa-stack-1x"  style="color:#fefefe;"></i>
            </span>
            Money Exchange
        </div>
        <div class="col-sm-offset-3 col-sm-4  col-xs-offset-1 col-xs-10 facilities" >
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-lock fa-stack-1x"  style="color:#fefefe;"></i>
            </span>
            Security Deposit
        </div>
        </div>
    </div>

<h3 class="text-center" style="font-variant: small-caps;margin-top: 50px;">Room Categories</h3>
<div class="container"><!-- Start of #home-tiles -->
    <div  class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="#"  data-toggle="modal" data-target="#myModal1"><div id="room-tile-1"><span>PREMIUM SINGLE</span></div></a>
        <div class="text-center" style="font-size: 15px">Tariff  - Rs.1300*/day</div>
        <center> 
        <a  href="booknow.html"><button type="submit" class="booknowbutton">Book Now</button></a>
        <button type="button" class="booknowbutton" data-toggle="modal"  data-target="#room1modal">View Details</button>
        </center>     
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="#" data-toggle="modal" data-target="#myModal2"><div id="room-tile-2"> <span>PREMIUM DOUBLE</span></div></a>
        <div class="text-center" style="font-size: 15px">Tariff  - Rs.1600*/day</div>
        <center>
        <a href="booknow.html"><button type="submit" class="booknowbutton" >Book Now</button></a>
        <button type="button" class="booknowbutton" data-toggle="modal"  data-target="#room2modal">View Details</button>
        </center>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <a href="#" data-toggle="modal" data-target="#myModal3"><div id="room-tile-3"><span>DELUXE DOUBLE</span></div></a>
        <div class="text-center" style="font-size: 15px">Tariff  - Rs.1800*/day</div>
        <center>
        <a href="booknow.html"><button type="submit" class="booknowbutton">Book Now</button></a>
        <button type="button" class="booknowbutton" data-toggle="modal"  data-target="#room3modal">View Details</button>
        </center>
      </div>
      <center>
       <p>* Tariff Exclusive of Taxes. All Conditions Apply.</p>
      </center>
    </div>
</div><!-- End of #home-tiles -->

<div id="myModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            {% load static %}
            <img src="{% static 'img/room1.jpg' %}" class="img-responsive">
        </div>
        <div class="modal-footer">
          <button type="button" class="booknowbutton" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            {% load static %}
            <img src="{% static 'img/room2.jpg' %}" class="img-responsive">
        </div>
        <div class="modal-footer">
          <button type="button" class="booknowbutton" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<div id="myModal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            {% load static %}
            <img src="{% static 'img/room3.jpg' %}" class="img-responsive">
        </div>
        <div class="modal-footer">
          <button type="button" class="booknowbutton" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!-- Modal -->
  <div class="modal fade" id="room1modal" role="dialog">
    <div class="modal-dialog">   
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">Premium Single</h4>
        </div>
        <div class="modal-body">
          <p> A completely furnished room with an attached bathroom, which has all the basic amenities needed to make your stay comfortable. The room is inclusive of wifi. Also, enjoy the room service facility for getting the best out of your stay.</p>
          <p class="text-center">Capacity : 1 </p>
          <div class="text-center" style="font-size: 15px">Tariff  - Rs.1300*/day</div>
        </div>
        <div class="modal-footer">
        <p style="font-size:10px;">* Tariff Exclusive of Taxes.</p>
        <p style="font-size:10px;">**Extra person charges applicable which can be paid during checkout.</p>
        </div>
      </div>  
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="room2modal" role="dialog">
    <div class="modal-dialog">   
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">Premium Double</h4>
        </div>
        <div class="modal-body">
          <p> A completely furnished room with an attached bathroom, which has all the basic amenities needed to make your stay comfortable. The room is inclusive of wifi. Also, enjoy the room service facility for getting the best out of your stay.</p>
          <p class="text-center">Capacity : 2 </p>
          <div class="text-center" style="font-size: 15px">Tariff  - Rs.1600*/day</div>
        </div>
        <div class="modal-footer">
        <p style="font-size:10px;">* Tariff Exclusive of Taxes.</p>
        <p style="font-size:10px;">**Extra person charges applicable which can be paid during checkout.</p>
        </div>
      </div>  
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="room3modal" role="dialog">
    <div class="modal-dialog">   
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">Deluxe Double</h4>
        </div>
        <div class="modal-body">
          <p> A completely furnished room with an attached bathroom, which has all the basic amenities needed to make your stay comfortable. Deluxe Double has sofas and a table to add value to the purpose of the room. The room is inclusive of wifi. Also, enjoy the room service facility for getting the best out of your stay.</p>
          <p class="text-center">Capacity : 2 </p>
          <div class="text-center" style="font-size: 15px">Tariff  - Rs.1800*/day</div>
        </div>
        <div class="modal-footer">
        <p style="font-size:10px;">* Tariff Exclusive of Taxes.</p>
        <p style="font-size:10px;">**Extra person charges applicable which can be paid during checkout.</p>
        </div>
      </div>  
    </div>
  </div>

        <h3 class="text-center" style="font-variant: small-caps;margin-top: 50px;">What Customers Say About Us....</h3>
        <div class="container ">
        <div class="row">
        <div class="col-xs-offset-1 col-xs-10 " id="feedbackbox">
        <i class="fa fa-quote-left fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
        <span id="quotes" >  I stayed at Santhi Bhavan for 3 days and my entire stay was completely comfortable. One among the best hotels to stay in Chennai! - Kaviya
        </span>
         <i class="fa fa-quote-right fa-3x fa-pull-right fa-border" aria-hidden="true"></i>
         </div>
         </div>
        </div>

<div class="modal fade" id="tandc" role="dialog">
    <div class="modal-dialog">   
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-center">Terms &amp; Conditions</h3>
        </div>
        <div class="modal-body">
          <ol>
            <li> The website design and logo belongs to the company and there is a strict restriction on editing or usage of the designs.</li>
            <li> The content available on the website is copyrighted and cannot be altered unless stated by the management.</li>
            <li> The discounts for the rooms will be updated at 12 noon based on its availability. </li>
            <li> For further terms and conditions, kindly approach the manager desk at the hotel to know about it.</li>
            <li> Pictures available on this site is not available for reproduction or edition without the consent of the management.</li>
            <li> Any extra person beyond the capacity of the room should oblige to the additional extra person charges, which can be paid during check-out.</li> 
            <li> All the payable services such as room service, house keeping etc which is available at the hotel need to be settled during check out. </li>
          </ol>
          <br>
          <h4 class="text-center"><b>Intellectual Property</b></h4>
          <p>
                Anything and everything that you see on the website is an intellectual property of Santhi Bhavan and cannot be used or altered without any proper consent.  www.hotelsanthibhavan.in and      
www.hotelsanthibhavan.com
belongs to Santhi Bhavan.           
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="booknowbutton" data-dismiss="modal">Close</button>
        </div>
      </div>  
    </div>
  </div>

     <!-- Modal -->
  <div class="modal fade" id="policy" role="dialog">
    <div class="modal-dialog">   
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-center"><b>Our  Policies</b></h2>
        </div>
        <div class="modal-body">
          <h3 class="text-center"><b>Privacy Policy</b></h3>
          <h4><b>Information we collect</b></h4>
          <p>
            Information you give us. For example, while booking you are asked to complete a form. When you do, we’ll ask for personal information, like your name, email address, telephone number etc to store with your account. 
          </p>
          <h4><b>How we use information we collect</b></h4>
          <p>
            The information collected is used to make sure that the services provided are improved and updated for your stay with us. It is also to understand the needs the customers prior to their stay. Also, for e-marketing purposes, where in, we make sure that you get the right information at the right time through us.
          </p>
          <h4><b>Information we share</b></h4>
          <ul>
          <li><h5><b>For external processing</b></h5></li>
          <p>
            We provide personal information to our affiliates or other trusted businesses or persons to process it for us, based on our instructions and in compliance with our Privacy Policy and any other appropriate confidentiality and security measures.
          </p>
          <li><h5><b>For legal reasons</b></h5></li>
          <p>
            We will share personal information with companies, organizations or individuals outside of Santhi Bhavan if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to:
            <ul>
                    <li> meet any applicable law, regulation, legal process or enforceable governmental request.</li>
                    <li>enforce applicable Terms of Service, including investigation of potential violations.</li>
                    <li>detect, prevent, or otherwise address fraud, security or technical issues.</li>
                    <li>protect against harm to the rights, property or safety of Shanti Bhavan, our customers or the public as required or permitted by law.</li>
            </ul>
                  We may share non-personally identifiable information publicly and with our partners – like publishers, advertisers or connected sites. For example, we may share information publicly to show trends about the general use of our services
          </p>
          </ul>
          <br>
          <h3 class="text-center"><b>Return, Refund and Cancellation Policy</b></h3>
            <p>
                  For Return, Refund and Cancellation, kindly contact the hotel front desk to initiate the process after providing with a valid reason for return, refund and cancellation. On approval, the money will reverted back within 7 working days. 
Kindly, make a note that cancellation cannot not be processed online. Refund on cancellation will be reverted back to your account, which was used to at the time of booking within 7 working days.Cancellation will be processed or accepted 48 hours prior to your stay date and it has to be done via phone.
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="booknowbutton" data-dismiss="modal">Close</button>
        </div>
      </div>  
    </div>
  </div>

<div class="modal fade" id="disc" role="dialog">
    <div class="modal-dialog">   
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-center">Disclaimer</h3>
        </div>
        <div class="modal-body">
          <ul>
            <li>The management is not responsible for any additional services apart from the, the basic services mentioned at the front desk and on the website.</li>
            <li> The management does not hold any responsibility towards the damage or theft of belongings and other valuable items which are unattended.</li>
            <li> We can anytime say no to your requests or bookings, if we find that there has been a violation of our company policies  and conditions.</li>
            <li> Online booking is through the payment gateway and there is no option of cash on staying unless mentioned in our policies or conditions.</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="booknowbutton" data-dismiss="modal">Close</button>
        </div>
      </div>  
    </div>
  </div>  

      <!-- Modal -->
  <div class="modal fade" id="help" role="dialog">
    <div class="modal-dialog">   
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-center">Help</h3>
        </div>
        <div class="modal-body">
            <h4 class="text-center">Quick guide on how to book a room</h4>
            <p>
              Go to any of the book now options and enter the form details. As per the information entered, the room charges including the taxes will be provided by our system. Click book now and you will be transferred to our secure payment gateway where you can pay through various means such as CC, DC, internet banking, money wallet etc. On successful transaction, your room booking confirmation will be sent to your provided email address. 
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="booknowbutton" data-dismiss="modal">Close</button>
        </div>
      </div>  
    </div>
    </div>

  <footer class="panel-footer">
    <div class="container">
      <div class="row">
        <section id="sitemap" class="col-sm-4">
          <span><i class="fa fa-map"></i> Site Map : </span><br>
         <span><a href="index.html">Home</a></span><br>
          <span><a href="aboutus.html">About Us</a></span><br>
          <span><a href="whyus.html">Why Us</a></span><br>
          <span><a href="gallery.html">Gallery</a></span><br>
          <span><a href="contactus.html">Contact Us</a></span><br>
          <span><a href="booknow.html">Book Now</a></span>
          <hr class="visible-xs">
        </section>
        <section id="address" class="col-sm-4">
          <span><i class="fa fa-map-marker"></i> Address:</span><br>
          (New No.305) No.138, Wall Tax Road, <br> 
          Park Town, Chennai - 600003.
          <hr class="visible-xs">
        </section>
        <section id="sociallinks" class="col-sm-2 ">
            <span><i class="fa fa-rss"></i> Social Media : </span><br>
            <i class="fa fa-facebook-square fa-lg social" aria-hidden="true"></i>
            <i class="fa fa-twitter-square fa-lg social" aria-hidden="true"></i>
            <i class="fa fa-google-plus-square fa-lg social" aria-hidden="true"></i>
            <hr class="visible-xs">
        </section>
        <section id="webcompliance" class="col-sm-2">
         <span><a data-toggle="modal"  data-target="#tandc" href="">Terms &amp; Conditions</a></span><br>
          <span><a data-toggle="modal"  data-target="#policy" href="">Our Policies</a></span><br>
          <span><a data-toggle="modal"  data-target="#disc" href="">Disclaimer</a></span><br>
          <span><a data-toggle="modal"  data-target="#help" href="">Help</a></span><br>
          <hr class="visible-xs">
        </section>
      </div>
      <div class="text-center">&copy;  2017 Santhi Bhavan. All Rights Reserved.</div>
       <div class="text-center">Website Handcrafted by U-Klickkit.</div>
    </div>
  </footer>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')
    </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'js/plugins.js' %}"></script>
    {% load static %}
    <script src="{% static 'js/main.js' %"></script>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-91605859-1', 'auto');
 ga('send', 'pageview');

</script>
<script>
$("document").ready(function() {
    var texts = [" I stayed at Santhi Bhavan for 3 days and my entire stay was completely comfortable. One among the best hotels to stay in Chennai! - Kaviya", " SanthiBhavan  lives up to its name. Time and Again. It is truly peaceful and comfortable. I highly recommend it to anyone looking for a place to stay in Chennai! - Rajaram"];
    var i = 0;
    (function runIt() {
        i++;
        $('#quotes').fadeOut(3000, function() {
            $('#quotes').html(texts[i % texts.length]);
            $('#quotes').fadeIn(3000, function() {
                runIt()
            });
        });
    }());
});
</script>
</body>

</html>
